<div class="main indexed">
    <div class="hd">
        <dl class="related clearfix">
            <dt>相关查询：</dt>
            <dd><a href="/indexed/history{{#if q}}/{{q}}{{/if}}">收录历史查询</a></dd>
        </dl>
    </div>
    <div class="bd">
        <div class="panel panel-default">
            <div class="panel-heading">网站收录</div>
            {{#if q}}
                <table class="table table-bordered table-responsive">
                    <thead>
                    <tr>
                        <td colspan="5">
                            <ul class="clearfix">
                                <li>
                                    百度快照：已取消
                                </li>
                                <li>
                                    首页位置：<span data-search="baidu/position"><a href="http://www.baidu.com/s?wd=site%3A{{q}}" target="_blank"></a></span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th width="20%">搜索引擎</th>
                        <th width="20%">百度</th>
                        <th width="20%">好搜</th>
                        <th width="20%">搜狗</th>
                        <th width="20%">谷歌</th>
                    </tr>
                    <tr>
                        <td>收录情况</td>
                        <td data-search="baidu/site">
                            <a href="http://www.baidu.com/s?wd=site%3A{{q}}" target="_blank"></a>
                        </td>
                        <td data-search="haosou/site">
                            <a href="http://www.haosou.com/s?q=site%3A{{q}}" target="_blank"></a>
                        </td>
                        <td data-search="sogou/site">
                            <a href="http://www.sogou.com/web?query=site%3A{{q}}" target="_blank"></a>
                        </td>
                        <td data-search="google/site">
                            <a href="http://www.google.com.hk/search?hl=zh-CN&q=site%3A{{q}}" target="_blank"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>反向链接</td>
                        <td data-search="baidu/domain">
                            <a href="http://www.baidu.com/s?wd=domain%3A{{q}}" target="_blank"></a>
                        </td>
                        <td data-search="haosou/domain">
                            <a href="http://www.haosou.com/s?q=domain%3A{{q}}" target="_blank"></a>
                        </td>
                        <td data-search="sogou/domain">
                            <a href="http://www.sogou.com/web?query=domain%3A{{q}}" target="_blank"></a>
                        </td>
                        <td data-search="google/link">
                            <a href="http://www.google.com.hk/search?hl=zh-CN&q=link%3A{{q}}" target="_blank"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            {{else}}
                <div class="panel-body">
                    <div class="body">
                        {{body}}
                    </div>
                </div>
            {{/if}}
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">近期收录</div>
            {{#if q}}
                <table class="table table-bordered table-responsive">
                    <tbody>
                    <tr>
                        <th width="20%">时间范围</th>
                        <th width="20%">近一天</th>
                        <th width="20%">近一周</th>
                        <th width="20%">近一月</th>
                        <th width="20%">近三月</th>
                    </tr>
                    <tr>
                        <td>百度</td>
                        <td data-search="baidu/site" data-period="1">
                            <a href="http://www.baidu.com/s?q1=site%3A{{q}}&lm=1" target="_blank"></a>
                        </td>
                        <td data-search="baidu/site" data-period="7">
                            <a href="http://www.baidu.com/s?q1=site%3A{{q}}&lm=7" target="_blank"></a>
                        </td>
                        <td data-search="baidu/site" data-period="30">
                            <a href="http://www.baidu.com/s?q1=site%3A{{q}}&lm=30" target="_blank"></a>
                        </td>
                        <td data-search="baidu/site" data-period="90">
                            <a href="http://www.baidu.com/s?q1=site%3A{{q}}&lm=90" target="_blank"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            {{else}}
                <div class="panel-body">
                    <div class="body">
                        {{body}}
                    </div>
                </div>
            {{/if}}
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">查询说明</div>
            <div class="panel-body">
                网站收录查询工具，可以查询网站在百度、好搜、搜狗、谷歌等搜索引擎的收录情况反向链接，还可以查询网站的百度快照日期、首页位置以及近期收录等信息。
            </div>
        </div>
    </div>
</div>
{{#if q}}
    <script>
        function request(el) {

            var target = $(el);
            var parent = target.parent();
            var search = parent.attr('data-search');
            var period = parent.attr('data-period');
            var periodKey = period ? '/' + period : '';

            $.ajax({
                url: '/api/indexed/{{q}}/' + search + periodKey,
                beforeSend: function () {
                    target.html('');
                    target.addClass('loading');
                },
                complete: function () {
                    target.removeClass('loading');
                },
                success: function (data) {
                    if (data.status === 'success') {
                        target.html(data.data);
                        target.removeClass('retry');
                    } else {
                        target.html('重查');
                        target.addClass('retry');
                    }
                },
                error: function () {
                    parent.html('--');
                },
                dataType: 'json'
            });
        }

        $('.table').delegate('.retry', 'click', function (e) {
            e.preventDefault();
            request(this);
        });

        $('.table a').each(function (k, v) {
            request(v);
        });
    </script>
{{/if}}