<div class="main indexed">
    <div class="hd">
        <dl class="related clearfix">
            <dt>相关查询：</dt>
            <dd><a href="/ip/server{{#q}}/{{.}}{{/q}}">同机房网站</a></dd>
        </dl>
    </div>
    <div class="bd">
        <div class="panel panel-default">
            <div class="panel-heading">查询结果</div>
            {{#if q}}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td colspan="5">
                            百度快照：<span data-search="baidu/cached"><a href="http://www.baidu.com/s?wd=http://{{q}}" target="_blank"></a></span>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th width="20%">搜索引擎</th>
                        <th width="20%">百度</th>
                        <th width="20%">好搜</th>
                        <th width="20%">搜狗</th>
                        <th width="20%">谷歌</th>
                    </tr>
                    <tr>
                        <td>收录情况</td>
                        <td data-search="baidu/site">
                            <a href="http://www.baidu.com/s?wd=site%3A{{q}}" target="_blank"></a>
                        </td>
                        <td data-search="haosou/site">
                            <a href="http://www.haosou.com/s?q=site%3A{{q}}" target="_blank"></a>
                        </td>
                        <td data-search="sogou/site">
                            <a href="http://www.sogou.com/web?query=site%3A{{q}}" target="_blank"></a>
                        </td>
                        <td data-search="google/site">
                            <a href="http://www.google.com.hk/search?hl=zh-CN&q=site%3A{{q}}" target="_blank"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>反向链接</td>
                        <td data-search="baidu/domain">
                            <a href="http://www.baidu.com/s?wd=domain%3A{{q}}" target="_blank"></a>
                        </td>
                        <td data-search="haosou/domain">
                            <a href="http://www.haosou.com/s?q=domain%3A{{q}}" target="_blank"></a>
                        </td>
                        <td data-search="sogou/domain">
                            <a href="http://www.sogou.com/web?query=domain%3A{{q}}" target="_blank"></a>
                        </td>
                        <td data-search="google/link">
                            <a href="http://www.google.com.hk/search?hl=zh-CN&q=link%3A{{q}}" target="_blank"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            {{else}}
                <div class="panel-body">
                    <div class="body" id="body">
                        {{body}}
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</div>
{{#if q}}
    <script>
        function request(el) {

            var target = $(el);
            var parent = target.parent();
            var search = parent.attr('data-search');

            $.ajax({
                url: '/api/indexed/' + search + '/{{q}}',
                beforeSend: function () {
                    target.html('');
                    target.addClass('loading');
                },
                complete: function () {
                    target.removeClass('loading');
                },
                success: function (data) {
                    if (data.status === 'success') {
                        target.html(data.data);
                    } else {
                        target.html('重查');
                        target.addClass('retry');
                    }
                },
                error: function () {
                    parent.html('--');
                },
                dataType: 'json'
            });
        }

        $('.table').delegate('.retry', 'click', function (e) {
            e.preventDefault();
            request(e.currentTarget);
        });

        $('.table a').each(function (k, v) {
            request(v);
        });
    </script>
{{/if}}