<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{#q}}{{.}}_{{/q}}{{#title}}{{.}}_{{/title}}查查啦</title>
    <link rel="stylesheet" href="/stylesheets/global.css">
    <script src="/javascripts/global.js"></script>
    <!--[if lt IE 9]>
    <script src="/javascripts/respond.js"></script>
    <![endif]-->
</head>
<body>
<div class="site-nav">
    <div class="container">
        <a class="welcome" href="/">查查啦，万能的站长工具</a>
        <ul class="quick-menu clearfix">
            <li><a href="/help">帮助中心</a></li>
        </ul>
    </div>
</div>
<div class="header">
    <div class="container">
        <a href="/" class="logo" title="万能的站长工具">
            <img src="/images/logo.png" width="94" height="32" alt="查查啦">
        </a>
        <form class="searchform" action="/{{#equal active 'home'}}indexed/{{else}}{{#active}}{{.}}/{{/active}}{{/equal}}" method="get">
            <div class="q">
                <label for="q" class="hidden">请输入域名、网址或关键字</label>
                <input type="search" id="q" name="q" maxlength="100" tabindex="1" value="{{q}}">
            </div>
            <div class="searchsubmit">
                <button type="submit" class="glyphicon glyphicon-search"></button>
            </div>
        </form>
    </div>
</div>