<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{#if q}}{{q}}_{{/if}}{{#if title}}{{title}}_{{/if}}查查啦</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="baidu-site-verification" content="OBDW5gE0ax">
    <meta name="baidu_union_verify" content="cdfb54f0e141e15d561cd10cf11af4a4">
    <meta name="360-site-verification" content="ca0a650067ac8917c5560fff8efe115b">
    <meta name="sogou_site_verification" content="s88dbU1HGH">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/global.css">
    <script src="/js/global.js"></script>
    <!--[if lt IE 9]>
    <script src="/js/respond.js"></script>
    <![endif]-->
</head>
<body>
<div class="site-nav">
    <div class="container">
        <a class="welcome" href="/">查查啦，万能的站长工具</a>
        <ul class="quick-menu clearfix">
            <li><a href="/help">帮助中心</a></li>
        </ul>
    </div>
</div>
<div class="header">
    <div class="container">
        <a href="/" class="logo" title="万能的站长工具">
            <img src="/images/logo.png" width="94" height="32" alt="查查啦">
        </a>
        <form class="searchform" action="/{{#equal active 'home'}}indexed/{{else}}{{#if active}}{{active}}/{{/if}}{{/equal}}" method="get">
            <div class="q">
                <label for="q" class="hidden">请输入域名、网址或关键字</label>
                <input type="search" id="q" name="q" maxlength="100" tabindex="1" value="{{q}}">
            </div>
            <div class="searchsubmit">
                <button type="submit" class="glyphicon glyphicon-search"></button>
            </div>
        </form>
    </div>
</div>