<div class="toolbar">
    <div class="container">
        <ul class="tool-nav">
            <li{{#equal active 'site'}} class="active"{{/equal}}>
                <a href="/site{{#q}}/{{.}}{{/q}}">综合查询</a>
            </li>
            <li{{#equal active 'indexed'}} class="active"{{/equal}}>
                <a href="/indexed{{#q}}/{{.}}{{/q}}">收录查询</a>
            </li>
            <li{{#equal active 'link'}} class="active"{{/equal}}>
                <a href="/link{{#q}}/{{.}}{{/q}}">友链检测</a>
            </li>
            <li{{#equal active 'pr'}} class="active"{{/equal}}>
                <a href="/pr{{#q}}/{{.}}{{/q}}">PR</a>
            </li>
            <li{{#equal active 'whois'}} class="active"{{/equal}}>
                <a href="/whois{{#q}}/{{.}}{{/q}}">WHOIS</a>
            </li>
        </ul>
        <div class="tool-more">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                更多<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/">百度排名</a></li>
                <li><a href="/">反链查询</a></li>
                <li><a href="/">安全监控</a></li>
                <li class="divider"></li>
                <li><a href="/all">更多 &raquo;</a></li>
            </ul>
        </div>
    </div>
</div>