<div class="main pr">
    <div class="hd">
        <dl class="related clearfix">
            <dt>相关查询：</dt>
            <dd><a href="/pr/site{{#if q}}/{{q}}{{/if}}">全站查询</a></dd>
            <dd><a href="/pr/realtime{{#if q}}/{{q}}{{/if}}">实时查询</a></dd>
            <dd><a href="/pr/history{{#if q}}/{{q}}{{/if}}">查看变化历史</a></dd>
        </dl>
    </div>
    <div class="bd">
        <div class="panel panel-default">
            <div class="panel-heading">查询结果</div>
            <div class="panel-body">
                <div class="body" id="body">
                    {{body}}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">查询说明</div>
            <div class="panel-body">
                PR 查询工具，可以查询指定域名的 PR 值，同时能检测真假情况，识破劫持欺骗。
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">查询记录</div>
            <div class="panel-body">
                {{#queries}}
                    <a href="/pr/{{.}}">{{.}}</a>&nbsp;&nbsp;
                {{/queries}}
                {{^queries}}
                    <div class="text-center">暂无记录</div>
                {{/queries}}
            </div>
        </div>
    </div>
</div>
{{#if q}}
    <script>
        var body = $('#body');

        function request() {
            $.ajax({
                url: '/api/pr/{{q}}',
                beforeSend: function () {
                    body.html('<span class="loading"></span>');
                },
                success: function (data) {
                    if (data.status === 'success') {
                        body.html('<img src="/images/pr/xl' + data.data + '.gif" width="88" height="31" alt="">');
                    } else {
                        body.html('查询失败，<a href="javascript:;" id="retry">点此重试</a>');
                    }
                },
                error: function () {
                    body.html('服务器繁忙，请稍候重试');
                },
                dataType: 'json'
            });
        }

        body.delegate('#retry', 'click', request);

        request();
    </script>
{{/if}}