<div class="main link">
    <div class="hd">
        <dl class="related clearfix">
            <dt>相关查询：</dt>
            <dd><a href="javascript:;">暂无</a></dd>
        </dl>
    </div>
    <div class="bd">
        <div class="panel panel-default">
            <div class="panel-heading">查询结果</div>
            {{#if q}}
                <table class="table table-bordered table-responsive">
                    <thead>
                    <tr>
                        <td colspan="3">
                            <ul class="clearfix">
                                <li>出站链接：<span class="loading" id="ext-num" style="color:green"></span></li>
                                <li>图片链接：<span class="loading" id="img-num" style="color:red"></span></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th width="10%">序号</th>
                        <th width="40%">链接信息</th>
                        <th width="40%">反链情况</th>
                    </tr>
                    </thead>
                    <tbody id="body">
                    <tr>
                        <td colspan="3" class="text-center result" id="result">
                            <span class="loading"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            {{else}}
                <div class="panel-body">
                    <div class="body">
                        {{body}}
                    </div>
                </div>
            {{/if}}
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">查询说明</div>
            <div class="panel-body">
                友链检查工具，可以查询指定网站的友情链接是否链至本站，可以识破欺骗链接。
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">查询记录</div>
            <div class="panel-body">
                {{#queries}}
                    <a href="/link/{{.}}">{{.}}</a>&nbsp;&nbsp;
                {{/queries}}
                {{^queries}}
                    <div class="text-center">暂无记录</div>
                {{/queries}}
            </div>
        </div>
    </div>
</div>
{{#if q}}
    <script>
        var body = $('#body');
        var result = $('#result');

        function request(el) {

            var target = $(el);
            var link = target.attr('data-link');

            $.ajax({
                url: '/api/link/backlink/{{q}}/' + link,
                beforeSend: function () {
                    target.html('');
                    target.addClass('loading');
                },
                complete: function () {
                    target.removeClass('loading');
                },
                success: function (data) {
                    if (data.status === 'success') {
                        target.html(data.data);
                        target.removeClass('retry');
                    } else {
                        target.html('重查');
                        target.addClass('retry');
                    }
                },
                error: function () {
                    target.html('--');
                },
                dataType: 'json'
            });
        }

        $('.table').delegate('.retry', 'click', function (e) {
            e.preventDefault();
            request(this);
        });

        $.ajax({
            url: '/api/link/{{q}}',
            success: function (data) {

                var ext = $('#ext-num');
                var img = $('#img-num');
                var i = 0;
                var j = 0;
                var tpl = [];

                if (data.status === 'success') {
                    $.each(data.data, function (k, v) {
                        i = i + 1;
                        if (v.text === '图片链接') {
                            j = j + 1;
                        }
                        tpl.push('<tr><td class="text-center">' + i + '</td>' +
                        '<td class="text-muted"><a href="' + v.href + '" target="_blank">' + v.text + '</a><br>' + k + '</td>' +
                        '<td class="text-muted"><span data-link="' + k + '"></span></td></tr>');
                    });
                    if (i === 0) {
                        result.html('暂无友链');
                    } else {
                        body.html(tpl.join(''));
                    }
                    $('span[data-link]', body).each(function (k, v) {
                        request(v);
                    });
                    ext.html(i).removeClass('loading');
                    img.html(j).removeClass('loading');
                } else {
                    ext.html(0).removeClass('loading');
                    img.html(0).removeClass('loading');
                    result.html('查询失败，请刷新重试');
                }
            }
        });
    </script>
{{/if}}