<div class="row about">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{#if id}}
            <h2>{{id}}</h2>
            <br>
            <ul>
                {{#lines}}
                    <li><a href="http://www.cc.la/indexed/{{.}}">http://www.cc.la/indexed/{{.}}</a></li>
                    <li><a href="http://www.cc.la/link/{{.}}">http://www.cc.la/link/{{.}}</a></li>
                    <li><a href="http://www.cc.la/alexa/{{.}}">http://www.cc.la/alexa/{{.}}</a></li>
                    <li><a href="http://www.cc.la/ip/{{.}}">http://www.cc.la/ip/{{.}}</a></li>
                    <li><a href="http://www.cc.la/pr/{{.}}">http://www.cc.la/pr/{{.}}</a></li>
                    <li><a href="http://www.cc.la/whois/{{.}}">http://www.cc.la/whois/{{.}}</a></li>
                {{/lines}}
            </ul>
        {{else}}
            <h2>网站地图</h2>
            <br>
            <ul>
                {{#lines}}
                    <li><a href="http://www.cc.la/sitemap/{{.}}">http://www.cc.la/sitemap/{{.}}</a></li>
                {{/lines}}
            </ul>
        {{/if}}
    </div>
</div>