<div class="row about">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{#if id}}
            <h2>{{id}}</h2>
            <br>
            <ul>
                {{#lines}}
                    <li><a href="http://www.cc.la/indexed/{{.}}">{{.}}_网站收录_收录查询_网站收录查询_百度收录查询_查查啦</a></li>
                    <li><a href="http://www.cc.la/link/{{.}}">{{.}}_友链查询_友链检查_友链检测_友情链接查询_友情链接检查_友情链接检测_查查啦</a></li>
                    <li><a href="http://www.cc.la/alexa/{{.}}">{{.}}_ALEXA排名_网站排名_网站排名查询_查查啦</a></li>
                    <li><a href="http://www.cc.la/ip/{{.}}">{{.}}_IP地址_IP地址查询_IP查询_查查啦</a></li>
                    <li><a href="http://www.cc.la/pr/{{.}}">{{.}}_PR值_PR查询_PR真假查询_PR劫持检测_查查啦</a></li>
                    <li><a href="http://www.cc.la/whois/{{.}}">{{.}}_WHOIS查询_域名WHOIS查询_域名注册信息查询_查查啦</a></li>
                {{/lines}}
            </ul>
        {{else}}
            <h2>网站地图</h2>
            <br>
            <ul>
                {{#lines}}
                    <li><a href="http://www.cc.la/sitemap/{{.}}">{{.}}</a></li>
                {{/lines}}
            </ul>
        {{/if}}
    </div>
</div>