<div class="main alexa">
    <div class="hd">
        <dl class="related clearfix">
            <dt>相关查询：</dt>
            <dd><a href="/alexa/site{{#q}}/{{.}}{{/q}}">全站查询</a></dd>
            <dd><a href="/alexa/realtime{{#q}}/{{.}}{{/q}}">实时查询</a></dd>
            <dd><a href="/alexa/history{{#q}}/{{.}}{{/q}}">查看变化历史</a></dd>
        </dl>
    </div>
    <div class="bd">
        <div class="panel panel-default">
            <div class="panel-heading">网站排名</div>
            <div class="panel-body">
                <div class="body" id="body">
                    {{body}}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">排名趋势</div>
            {{#if q}}
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <p>六个月平均排名曲线</p>
                            <img src="http://traffic.alexa.com/graph?w=360&h=300&r=6m&y=t&u={{q}}" alt="">
                        </td>
                        <td>
                            <p>三个月平均排名曲线</p>
                            <img src="http://traffic.alexa.com/graph?w=360&h=300&r=3m&y=t&u={{q}}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>一个月平均排名曲线</p>
                            <img src="http://traffic.alexa.com/graph?w=360&h=300&r=1m&y=t&u={{q}}" alt="">
                        </td>
                        <td>
                            <p>一星期平均排名曲线</p>
                            <img src="http://traffic.alexa.com/graph?w=360&h=300&r=7d&y=t&u={{q}}" alt="">
                        </td>
                    </tr>
                </table>
            {{else}}
                <div class="panel-body">
                    <div class="body">
                        {{body}}
                    </div>
                </div>
            {{/if}}
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">查询说明</div>
            <div class="panel-body">
                网站排名查询工具，可以查询网站的全球排名信息、排名升降趋势、中国排名信息等，是目前较为权威的网站访问量评价指标。
            </div>
        </div>
    </div>
</div>
{{#if q}}
    <script>
        var body = $('#body');

        function request() {
            $.ajax({
                url: '/api/alexa/{{q}}',
                beforeSend: function () {
                    body.html('<span class="loading"></span>');
                },
                success: function (data) {
                    if (data.status === 'success') {

                        var sd = data.data || {};
                        var text = '全球排名位于&nbsp;&nbsp;';

                        if (sd.popularityText) {
                            text += '<b>' + sd.popularityText + '</b>&nbsp;&nbsp;名';
                            if (sd.rankDelta) {

                                var delta = parseInt(sd.rankDelta);
                                var deltaText = delta < 0 ? '上升' : '下降';

                                text += '，排名' + deltaText + '&nbsp;&nbsp;<b>' + Math.abs(delta) + '</b>&nbsp;&nbsp;名';
                            }
                            if (sd.countryCode && sd.countryCode === 'CN') {
                                text += '，中国排名位于&nbsp;&nbsp;<b>' + sd.countryRank + '</b>&nbsp;&nbsp;名';
                            }
                        } else {
                            text += '暂无信息';
                        }
                        body.html(text);
                    } else {
                        body.html('查询失败，<a href="javascript:;" id="retry">点此重试</a>');
                    }
                },
                error: function () {
                    body.html('服务器繁忙，请稍候重试');
                },
                dataType: 'json'
            });
        }

        body.delegate('#retry', 'click', request);

        request();
    </script>
{{/if}}