<div class="main whois">
    <div class="hd">
        <dl class="related clearfix">
            <dt>相关查询：</dt>
            <dd><a href="/whois/reverse/domain{{#if q}}/{{q}}{{/if}}">按域名反查</a></dd>
            <dd><a href="/whois/reverse/mail{{#if q}}/{{q}}{{/if}}">按邮箱反查</a></dd>
            <dd><a href="/whois/reverse/registrant{{#if q}}/{{q}}{{/if}}">按注册人反查</a></dd>
        </dl>
    </div>
    <div class="bd">
        <div class="panel panel-default">
            <div class="panel-heading">注册商记录</div>
            <div class="panel-body">
                {{#if touched}}
                    <div class="refresh">
                        缓存时间：{{touched}}<a href="javascript:;" id="refresh">强制更新</a>
                    </div>
                {{/if}}
                <div class="body" id="body">
                    {{body}}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">查询说明</div>
            <div class="panel-body">
                WHOIS 查询工具，可以查询域名的注册信息，包括注册人、注册邮箱、注册机构、注册日期、到期日期、联系人等信息。
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">查询记录</div>
            <div class="panel-body">
                {{#queries}}
                    <a href="/whois/{{.}}">{{.}}</a>&nbsp;&nbsp;
                {{/queries}}
                {{^queries}}
                    <div class="text-center">暂无记录</div>
                {{/queries}}
            </div>
        </div>
    </div>
</div>
{{#if touched}}
    <script>
        $('#refresh').click(function () {
            $.ajax({
                url: '/api/whois/refresh/{{q}}',
                success: function (data) {
                    if (data.status === 'success') {
                        location.href = '/whois/{{q}}';
                    } else {
                        alert('服务器错误，请稍候重试');
                    }
                },
                error: function () {
                    alert('服务器繁忙，请稍候重试');
                },
                dataType: 'json'
            });
        });
    </script>
{{/if}}
{{#if q}}
    <script>
        var body = $('#body');

        function request() {
            $.ajax({
                url: '/api/whois/{{q}}',
                beforeSend: function () {
                    body.html('<span class="loading"></span>');
                },
                success: function (data) {
                    if (data.status === 'success') {
                        body.html('<div class="result">' + data.data.raw + '</div>');
                    } else {
                        body.html('查询失败，<a href="javascript:;" id="retry">点此重试</a>');
                    }
                },
                error: function () {
                    body.html('服务器繁忙，请稍候重试');
                },
                dataType: 'json'
            });
        }

        body.delegate('#retry', 'click', request);

        request();
    </script>
{{/if}}