<div class="main whois">
    <div class="hd">
        {{#q}}
            <div class="control">
                缓存时间：2015-02-10 02:15:14<a href="javascript:;" id="refresh">强制更新</a>
            </div>
        {{/q}}
        <dl class="related clearfix">
            <dt>相关查询：</dt>
            <dd><a href="/whois/reverse/domain{{#q}}/{{.}}{{/q}}">按域名反查</a></dd>
            <dd><a href="/whois/reverse/mail{{#q}}/{{.}}{{/q}}">按邮箱反查</a></dd>
            <dd><a href="/whois/reverse/registrant{{#q}}/{{.}}{{/q}}">按注册人反查</a></dd>
        </dl>
    </div>
    <div class="bd">
        <div class="panel panel-default">
            <div class="panel-heading">{{#q}}域名 {{.}} 的{{/q}}注册商记录</div>
            <div class="panel-body">
                <div class="result" id="result">
                    {{result}}
                </div>
            </div>
        </div>
    </div>
</div>
{{#q}}
    <script>
        (function () {

            var result = $('#result');

            function request() {
                $.ajax({
                    url: '/api/whois/{{.}}',
                    beforeSend: function () {
                        result.html('<span class="loading"></span>');
                    },
                    success: function (data) {
                        if (data.status === 'success') {
                            result.html(data.data);
                        } else {
                            result.html('查询失败，<a href="javascript:;" id="retry">点此重试</a>');
                        }
                    },
                    error: function () {
                        result.html('服务器繁忙，请稍候重试');
                    },
                    dataType: 'json'
                });
            }

            result.delegate('#retry', 'click', request);

            request();

        })();
    </script>
{{/q}}